<a href="https://colab.research.google.com/github/sergiobm3/ESI_MachineLearning/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> We are team SSJ and our Data Distribution is Iquitos 1995 - 2000.

---

# Loading Data

We start by loading our data files (dataset, etc.) normally in CSV format.

For this purpose, we use some commands provided by Google Colab itself to access files on our computer

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving dengue_features_train.csv to dengue_features_train (1).csv
User uploaded file "dengue_features_train.csv" with length 287139 bytes

Once the CSV-file is selected and loaded, we are going to load it int a structure that allows us to handle it easily, for it we use the Python Pandas library.

In [2]:
import pandas as pd
import io
df = pd.read_csv(io.StringIO(uploaded[fn].decode('utf-8')))

df

     city  year  ...  station_min_temp_c station_precip_mm
0      sj  1990  ...                20.0              16.0
1      sj  1990  ...                22.2               8.6
2      sj  1990  ...                22.8              41.4
3      sj  1990  ...                23.3               4.0
4      sj  1990  ...                23.9               5.8
...   ...   ...  ...                 ...               ...
1451   iq  2010  ...                22.4              27.0
1452   iq  2010  ...                21.7              36.6
1453   iq  2010  ...                19.2               7.4
1454   iq  2010  ...                21.0              16.0
1455   iq  2010  ...                22.2              20.4

[1456 rows x 24 columns]

# Dimensionality Reduction

# Outlier Identification

# Clustering by K-means

# Hierarchical Clustering Algorithm